*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

body{

  background-color: #f5be80;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.container{
  height: 700px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

h1{
  text-align: center;
  margin-bottom: 1em;
}